/**
Title: css file to tie the WNPA CSS and WSU Spine themes together; specifically targeting the WNPA theme
**/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700);
* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
 }
body {
	background-image: url('../img/dust-small.png');
	background-attachment: fixed;
 	background-size:60% 60%;
 	background-color:white;
  }
main > h1, h2, h3, h4, h5, h6 {
 	font-family: 'open sans', lucida sans, sans serif;
 	 color:#383d42;
  }
main article > h2, h3, h4, h5, h6 {
	margin-bottom:-.5em;
}
.archive h3 {
	font-size: 2em;
	margin-bottom:.2em;
}
article p, .recent-article p {
 	font-family: Georgia, "Times New Roman", Times, serif;
 	color:#666666;
 	font-size:1.4em;
 	line-height:1.6em;
 	margin-bottom:1em;
 	margin-top:1em;
 }
.archive p {
	font-size: 1.3em !important;
}
article ul, ol {
	font-family: Georgia, "Times New Roman", Times, serif;
 	color:#666666;
 	font-size:1.2em;
 	line-height:1.6em;
 	margin-left:1.4em;
}
article ol ul li {
	font-size: .875em;
}
article ul li code {
	font-size: .875em;
}
article ol ul li code {
	font-size: .875em;
}
article p~ul {
	margin-top:-1em;
}
article p~ol {
	margin-top:-1em;
}
article ol li {
	margin-bottom:-.5em;
}
article a,.archive .recent-articles a {
	text-decoration: underline;
}
.main-header {
	height:190px;
	background-color:#f9f9f9;
	background-image: url('../img/homeBanner.jpg');
	background-repeat: no-repeat;
	background-size:auto, 100%;
	background-position: -800px, 0px;
	}
.main-header .header-group {
	display:none;
}
.article-header {
}
.article-header h1, .archive .recent-articles h1 {
	color:#383d42;
	font-weight: 700;
	padding-bottom:20px;
	font-size: 3em;
	text-transform: uppercase;
	border-bottom: solid 1px #383d42;
	margin-bottom:1em;
	margin-top:1.8em;
}
.archive .recent-article {
	margin-bottom:2em;
	padding-bottom:1em;
	border-bottom: 1px solid #eff0f1;
}
.recent-article > .recent-article-date, .recent-article-author, .recent-article-source {
	font-weight: 700;
	font-family: 'open sans', lucida sans, sans serif;
	line-height: .700em !important;
}
code {
	font-size: 1.1em;
	font-weight: 700;
	color:black;
}
.codeBlock {
	display:inline-block;
	width:772px;
	white-space: nowrap;
	overflow: scroll;
	overflow: -moz-scrollbars-horizontal; 
	overflow: -webkit-scrollbars-horizontal;
	overflow-x: scroll;
	border:1px solid #eff0f1;
	padding:.8em;
	background-color: #f9f9f9;
	margin-bottom:1em;
	margin-top:1em;
}
.codeBlock::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
.codeBlock::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
.link-all-feed-items a {
	text-decoration: underline;
}
.article-footer {
	color:#383d42;
}
.article-footer a {
	color:gray;
}
.article-footer a:hover {
	color:#981e32;
}
.article-footer > .editors {
	margin:1em 0em 1em 0;
}
.article-footer > .editors a {
	color:blue;
	display:block;
	text-align: center;
	padding:.5em;
	border:1px solid lightgray;
	background-color:lightgray;
}
.article-footer > .editors a:hover {
	color:#981e32;
	background-color:white;
	border:1px solid lightgray;
}
.archive-meta-nav {
	padding-bottom:3em;
}
.nav-previous {
	float:left;
	display:block;
	width:30%;
}
.nav-next {
	display:block;
	width:30%;
	float:right;
}
/**
Title: Homepage
Descripto: Targeting single elements related to the homepage
**/

.home .logos {
	text-align: center;
	width:100%;
	margin-top:70px;
	}
.home .logos img {
	margin-bottom:40px;
}
.home .logos img:first-child {
	display:inline-block;
	margin-right:3em;
}
.home .recent-articles h2 {
	font-size: 2.1em;
	padding-bottom:.5em;
	margin-bottom:1em;
	border-bottom:1px solid #383d42;
}
.home .recent-article h3 {
	font-size: 1.8em;
	padding-bottom:.875em;
}
.home .recent-article p {
	font-size: 1.1em;
	padding-bottom:2em;
	border-bottom: solid 1px #eff0f1;
}
.home .recent-article a {
	text-decoration: underline;
}